*, *:before, *:after {
    box-sizing: border-box;
}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}


.backgrnd img {
    width: 100%;
    object-fit: cover;
    height: 100vh;
    object-position: 50% 14%;
}
.backgrnd .text2 {
    position:absolute;
    top:10px;
    left: 15vw;
    right: 15vw;
    color: white;
    text-align: center;
    padding-top: 300px;
    font-size: 20px;
    font-weight: 700;
}

.bouton2{
    margin-top: 15px;
}

.bouton3{
    margin-top: 100px;
}


.container{
    justify-content: center;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
}













 
@media (min-width: 769px) {
    
    label  {
        display: none;
    }
   
    nav .main_pages {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

}